
.playlist-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
}

.playlist-container h2 {
    color: var(--color-main);
    position: absolute;
    font-size: clamp(3rem, 4vw, 8rem);
    margin: 0;
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
}

.data-img {
    max-width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 5px;
}
.marquee {
    display: flex;
    z-index: -10;
    filter: brightness(50%);
}
@media (min-width: 689px) {
  .playlist-container{
    padding: 0 10px;
  }
  .marquee{
    border-radius: 10px;
  }
}
@media (min-width:690px) {  
  .playlist-container{
    max-width: 95%;
  }
  .playlist-container h2{
    opacity: .7;
    position: relative;
  }
  .marquee{
    border-radius: 10px;
    mask: linear-gradient(to right, transparent, black);
  }
}